# Игнорируем бинарные файлы
ircserv
*.exe
.env

# Игнорируем объектные файлы и артефакты сборки
*.o
*.obj
*.a
*.so
*.dll

# Игнорируем временные файлы компилятора
*.tmp
*.log

# Игнорируем файлы редакторов
*~
*.swp
.vscode/
.idea/

# Игнорируем файлы, сгенерированные сборкой
build/
bin/
